/* Reset */
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f9;
}

section {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* Navbar Styling */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(2, 89, 16, 1);
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  padding: 0 50px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Maksimal lebar konten */
  margin: 0 auto; /* Pusatkan konten */
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logo-img {
  width: 50px;
  height: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  color: white;
  padding: 20px 10px;
  font-size: 16px;
  position: relative;
  transition: background-color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%; /* Mulai dari tengah */
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%; /* Garis melebar ke seluruh link */
}


/*header*/
header {
  background-image: url("../asset/background/background1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-top: 70px;
}

h2 {
  font-size: 2rem;
  color: #025910;
  margin-bottom: 20px;
}

section p {
  color: #333;
  font-size: 1rem;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}